
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access for site settings and about me data
    match /app_config/{docId} {
      allow read: if true;
      allow write: if request.auth != null; // Only authenticated users can write
    }

    // Allow public read access for portfolio items
    match /portfolioItems/{itemId} {
      allow read: if true;
      allow write: if true; // Allow admin actions to write
    }

    // Allow public read access for skills
    match /skills/{skillId} {
      allow read: if true;
      allow write: if true; // Allow admin actions to write
    }

    // Allow public read access for certifications and allow admin writes
    match /certifications/{certId} {
        allow read: if true;
        allow write: if true; // Allow admin actions to write
    }

    // Restrict contact messages to be written by anyone, but only readable/deletable by admin
    match /contactMessages/{messageId} {
      allow read, delete: if request.auth != null;
      allow create: if true;
      allow update: if false; // Messages shouldn't be updatable
    }

    // Allow anyone to publish an announcement, but only admins can manage them
     match /announcements/{announcementId} {
      allow read: if true; // Everyone can read announcements
      allow create, update, delete: if request.auth != null;
    }
  }
}
